<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alimentación
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alimentación</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formAlimentacion" (ngSubmit)="processForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">Comida</ion-label>
        <ion-select placeholder="Selecciona tipo de comida" formControlName="comidas">
          <ion-select-option value="rapida">Comida rápida</ion-select-option>
          <ion-select-option value="gourmet">Comida gourmet</ion-select-option>
          <ion-select-option value="vegetariana">Comida vegetariana</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Bebida</ion-label>
        <ion-select placeholder="Selecciona tu bebida" formControlName="bebidas">
          <ion-select-option value="cerveza">Cerveza</ion-select-option>
          <ion-select-option value="vino">Vino</ion-select-option>
          <ion-select-option value="jugo_fruta">Jugo de fruta</ion-select-option>
          <ion-select-option value="gaseosa">Gaseosa</ion-select-option>
          <ion-select-option value="agua">Agua</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Postre</ion-label>
        <ion-select placeholder="Selecciona tu postre" formControlName="postres">
          <ion-select-option value="helado">Helado</ion-select-option>
          <ion-select-option value="torta_de_banano">Torta de banano</ion-select-option>
          <ion-select-option value="yogurt_griego_fruta">Yogurt griego y fruta</ion-select-option>
          <ion-select-option value="no_postre">Sin postre</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <div class="ion-padding ion-text-center">
      <p>¡Recuerda confirmar tus preferencias alimenticias!</p>
      <ion-button expand="block" type="submit" class="ion-no-margin"><span style="text-transform: capitalize;">Confirmar Alimentación</span></ion-button>
    </div>
  </form>

  <div class="ion-padding ion-text-center">
    <p>Haz click en el siguiente botón si pudiste completar todo el proceso sin mayores inconvenientes</p>
    <ion-button color="medium" fill="outline" size="small" type="button" (click)="confirmarTutotial()" type="button"><span style="text-transform: capitalize;">Confirmar</span></ion-button>
  </div>

</ion-content>
