<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person"></ion-icon>
      <ion-label>Usuario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Música</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="body"></ion-icon>
      <ion-label>Deporte</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Alimentación</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
