<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Música
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Música</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formMusica" (ngSubmit)="processForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">Género Musical</ion-label>
        <ion-select placeholder="Selecciona tu género" formControlName="generoMusical">
          <ion-select-option value="rock">Rock</ion-select-option>
          <ion-select-option value="salsa">Salsa</ion-select-option>
          <ion-select-option value="vallenato">Vallenato</ion-select-option>
          <ion-select-option value="anglo">Anglo</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <div class="ion-padding ion-text-center">
      <p>¡Recuerda confirmar tu gusto musical!</p>
      <ion-button expand="block" type="submit" class="ion-no-margin"><span style="text-transform: capitalize;">Confirmar Música</span></ion-button>
    </div>
  </form>

</ion-content>
