<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Información del usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Información del usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-google-login></app-google-login>
  
</ion-content>
