<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deporte</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formDeporte" (ngSubmit)="processForm()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="stacked">Deporte Favorito</ion-label>
        <ion-select placeholder="Selecciona tu género" formControlName="deporteFavorito">
          <ion-select-option value="futbol">Futbol</ion-select-option>
          <ion-select-option value="ciclismo">Ciclismo</ion-select-option>
          <ion-select-option value="triatlon">Triatlón</ion-select-option>
          <ion-select-option value="voleyball">Voleyball</ion-select-option>
          <ion-select-option value="rugby">Rugby</ion-select-option>
          <ion-select-option value="mma">MMA</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <div class="ion-padding ion-text-center">
      <p>¡Recuerda confirmar tu deporte favorito!</p>
      <ion-button expand="block" type="submit" class="ion-no-margin"><span style="text-transform: capitalize;">Confirmar Deporte</span></ion-button>
    </div>
  </form>

</ion-content>
