<form [formGroup]="formRegistro" (ngSubmit)="processForm()" *ngIf="registro">
  
  <h1 class="ion-padding ion-text-center">
    ¡Registrate!
  </h1>
  
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input formControlName="apellido" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Género</ion-label>
      <ion-select placeholder="Selecciona tu género" formControlName="genero">
        <ion-select-option value="F">Femenido</ion-select-option>
        <ion-select-option value="M">Masculino</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Profesión</ion-label>
      <ion-input formControlName="profesion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Número de cédula</ion-label>
      <ion-input type="number" formControlName="id"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Celular</ion-label>
      <ion-input type="text" formControlName="celular"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Ubicación</ion-label>
      <ion-input formControlName="ciudad" placeholder="Ciudad"></ion-input>
      <ion-input formControlName="departamento" placeholder="Departamento"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Repetir Contraseña</ion-label>
      <ion-input type="password" formControlName="recontrasena"></ion-input>
    </ion-item>

  </ion-list>

  <div class="ion-padding ion-text-center">
    <ion-button expand="block" type="submit"><span style="text-transform: capitalize;">Crear Cuenta</span></ion-button>
    <ion-button color="medium" fill="outline" size="small" type="button" (click)="checkIniciarSesion(false,true)"><span style="text-transform: capitalize;">Ya estoy registrado, iniciar sesión</span></ion-button>
  </div>
</form>

<hr>

<form [formGroup]="formLogin" (ngSubmit)="processFormLogin()" *ngIf="login">

  <h1 class="ion-padding ion-text-center">
    Iniciar Sesión
  </h1>

  <ion-list lines="full" class="ion-no-margin ion-no-padding">

    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="contrasena"></ion-input>
    </ion-item>

  </ion-list>

  <div class="ion-padding ion-text-center">
    <ion-button expand="block" type="submit"><span style="text-transform: capitalize;">Iniciar Sesión</span></ion-button>
    <ion-button color="medium" fill="outline" size="small" type="button" (click)="checkIniciarSesion(true,false)"><span style="text-transform: capitalize;">No estoy registrado,crear cuenta</span></ion-button>
  </div>
</form>

<hr>

<div class="ion-text-center" *ngIf="loged">
  <h2>¡Hola!</h2>
  <h4>Ya puedes continuar regisrando tus preferencias musicales, deportivas y alimenticias.</h4>
</div>
<div class="ion-padding ion-text-center" *ngIf="loged">
  <p>Gracias por participar en el taller de Firebase!</p>
  <ion-button color="medium" fill="outline" size="small" type="button" (click)="cerrarSesion()" type="button"><span style="text-transform: capitalize;">Cerrar Sesión</span></ion-button>
</div>